<form #addForm="ngForm" (ngSubmit)="onSubmit(addForm)">
    <div><label for="enroll_number">Enroll Number</label>
        <input type="text" name="enroll_number" ngModel><br>


        <label for="first_name">First Name</label>
        <input type="text" name="first_name" ngModel><br>


        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" ngModel><br>


        <label for="dob">Date of Birth</label>
        <input type="text" name="dob" ngModel><br>


        <label for="fathers_name">Fathers Name</label>
        <input type="text" name="fathers_name" ngModel><br>


        <label for="mothers_name">Mothers Name</label>
        <input type="text" name="mothers_name" ngModel><br>


        <label for="address">Address</label>
        <input type="text" name="address" ngModel><br>



        <label for="gender">Contact Phone</label>
        <input type="text" name="gender" ngModel><br>


         <label for="contact_phone">Gender</label>
        <input type="text" name="contact_phone" ngModel><br> 

        <label for="session_id">Session Id</label>
        <input type="text" name="session_id" ngModel><br>


        <label for="addmission_grade">Addmission Grade</label>
        <input type="text" name="addmission_grade" ngModel><br>

    </div><br>
    <button>Submit</button>
</form>